target/
.idea/
.classpath
.project
.settings/
*.log
node_modules/
dist/
socialintelligence/frontend/.next/
socialintelligence/frontend/.next/
socialintelligence/frontend/node_modules/
socialintelligence/backend/.omc/
